<%= render(partial: "float_button", locals: { sake: @sake }) %>

<%= turbo_frame_tag("sakes", target: "_top", data: { turbo_action: :advance }) do %>
  <div class="row row-cols-1 g-3">
    <div class="col">
      <h1 class="mb-0" data-testid="total_sake">
        <% searched_word = params.dig(:q, :all_text_cont) %>
        <% if searching? then %>
          <%# 検索中タイトル %>
          <% header = t(".header_with_search", search: searched_word) %>
          <% hit = @sakes.total_count.to_s %>
          <% h1 = t(".h1_with_search", search: searched_word, hit:) %>
        <% else %>
          <%# 通常タイトル %>
          <% header = t(".header") %>
          <% h1 = t(".h1_with_stock", stock: stock(include_empty?)) %>
        <% end %>
        <%= title(header, h1) %>
      </h1>
    </div>
    <div class="col">
      <%= search_form_for(@search, html: { data: { turbo_frame: "sakes" } }) do |f| %>
        <div class="row mx-0 align-items-center">
          <div class="col ps-0 input-group">
            <%= f.label(:all_text_cont, "search word", class: "form-label visually-hidden") %>
            <%= f.search_field(
                  :all_text_cont,
                  class: "form-control",
                  value: params.dig(:q, :all_text_cont),
                  data: { testid: "text_search" },
                ) %>
            <%= tag.button(
                  tag.i(class: "bi-search"),
                  type: "submit",
                  name: "commit",
                  value: "search",
                  class: "btn btn-primary",
                  data: { testid: "submit_search" },
                ) %>
          </div>
          <div class="col-auto">
            <div class="form-check form-switch">
              <%# 検索ボタン経由（commit）ならサーバがデフォルトで空き瓶を含む。
                # トグル操作時はこのtrue/falseの明示値に従う（§docs commit方式）。 %>
              <%= hidden_field_tag("include_empty", "false", id: nil) %>
              <%= check_box_tag(
                    "include_empty",
                    "true",
                    include_empty?,
                    class: "form-check-input",
                    id: "all_bottle_level",
                    data: { testid: "check_empty_bottle" },
                    onchange: "this.form.submit()",
                  ) %>
              <%= label_tag("all_bottle_level", t(".all_bottles"), class: "form-check-label") %>
            </div>
          </div>
          <div class="col-lg-4 d-none d-lg-block"></div>
        </div>
      <% end %>
    </div>
    <div class="col">
      <div class="row row-cols-1 g-3">
        <div class="col">
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2" data-controller="simple-lightbox">
            <%= render(partial: "sake", collection: @sakes) %>
          </div>
        </div>
        <% unless default_index? %>
          <div class="col" data-testid="pagination">
            <div class="d-none d-sm-block">
              <%= paginate(@sakes) %>
            </div>
            <div class="d-sm-none d-block">
              <%# HACK: 小さい画面用、表示する番号の数を少なくする
                #       kaminariを複雑にカスタムせず、2つのページネーションを生成する %>
              <%= paginate(@sakes, window: 1) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
